grafikon-*/bin/*
grafikon-*/build/*
grafikon-*/out/*
grafikon-webstart/src/main/keystore/grafikon.ks
version-plugin/bin/*
version-plugin/build/*
version-plugin/out/*
/*.cmd
/*.sh
/*.groovy
/*/.classpath
/*/.project
/*/.settings
.project
.settings
.gradle
/*.txt
/build
/*.iml
.idea
.vscode
