grafikon-*/bin/*
grafikon-*/build/*
grafikon-*/out/*
grafikon-webstart/src/main/keystore/grafikon.ks
buildSrc/bin/*
buildSrc/build/*
buildSrc/out/*
/*.cmd
/*.sh
/*.groovy
/*/.classpath
/*/.project
/*/.settings
.project
.settings
.gradle
/*.txt
/build
/*.iml
.idea
