image: openjdk:25

pipelines:
  default:
    - step:
        caches:
          - gradle
          - gradlewrapper
        script:
          - ./gradlew --no-watch-fs --no-daemon build
definitions:
  caches:
    gradlewrapper: ~/.gradle/wrapper
