  <tr style="height: .5mm" align="center">
    <td colspan=3 align="left" style="font-size: 0.2mm; border-color: black; border-style: solid; border-width: 0.35mm 0mm 0mm 0mm; width: 21mm;">&nbsp;</td>
  </tr>
