  <tr style="font-size: 3.4mm;" class="row">
    <td>&nbsp;</td>
    <td>%1$s</td>
    <td>%2$s</td>
    <td align="right">%3$s&nbsp;</td>
    <td align="center">%4$s</td>
    <td align="right">%5$s&nbsp;</td>
    <td>%6$s</td>
    <td>%8$s</td>
    <td>%7$s</td>
  </tr>
