<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>%1$s</title>
  <style type="text/css" media="all">
    div.caption1 {
      font-family: arial, sans-serif;
      font-size: 6mm; 
      font-weight: bold;
    }
    div.caption2 {
      font-family: arial, sans-serif;
      font-size: 4.5mm;
      font-weight: bold;
      padding: 3mm 0 3mm 0;
    }
    table.list {
      font-family: arial, sans-serif;
      font-size: 3mm;
      border-color: black;
      border-style: solid;
      border-width: 0.3mm;
    }
    table.list tr td {
      border-color: black;
      border-style: solid;
      border-width: 0.3mm;
      padding: 0.5mm 4mm 0.5mm 1mm;
    }
  </style>
</head>
<body>
<div class="caption1">%2$s</div>
