  <tr style="height: 5mm">
    <td class="tc-1 tc-m-1">%1$s</td>
    <td class="tc-2 tc-m-2">%2$s</td>
    <td class="tc-3 tc-m-3"><b>%3$s</b></td>
    <td class="tc-4 tc-m-4"><b>%4$s</b>&nbsp;</td>
    <td class="tc-5 tc-m-5">%5$s</td>
    <td class="tc-6 tc-m-6"><b>%6$s</b>&nbsp;</td>
    <td class="tc-7 tc-m-7"><b>%7$s</b></td>
    <td class="tc-8 tc-m-8">%8$s</td>
  </tr>
