<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>%1$s</title>
  <style>
    td {padding: 0.5mm .5mm 0.5mm .5mm; border-color: black; border-style: solid; border-width: 0.2mm;}
  </style>
</head>

<body>