name: Build Release
on:
  push:
    tags:
      - '*.*.*'
      - '!*-alfa'
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Java Setup
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build jpackage jpackageImageZip distribution
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: linux
          retention-days: 5
          path: |
            grafikon-start/build/dist/*.zip
            grafikon-start/build/jpackage/*.deb
            grafikon-start/build/jpackage-zip/*.zip
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Java Setup
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: jpackage jpackageImageZip
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: windows
          retention-days: 5
          path: |
            grafikon-start/build/jpackage/*.msi
            grafikon-start/build/jpackage-zip/*.zip
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Java Setup
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: runtimeZip
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: macos
          retention-days: 5
          path: |
            grafikon-start/build/image-zip/*.zip
  release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows, build-macos]
    steps:
      - name: Download
        uses: actions/download-artifact@v3
      - name: List files
        run: ls -R
      - name: Collect Files
        run: |
          echo "file_zip=`ls linux/dist/*.zip`" >> $GITHUB_ENV
          echo "file_deb=`ls linux/jpackage/*.deb`" >> $GITHUB_ENV
          echo "file_linux_zip=`ls linux/jpackage-zip/*.zip`" >> $GITHUB_ENV
          echo "file_msi=`ls windows/jpackage/*.msi`" >> $GITHUB_ENV
          echo "file_win_zip=`ls windows/jpackage-zip/*.zip`" >> $GITHUB_ENV
          echo "file_mac_image_zip=`ls macos/*.zip`" >> $GITHUB_ENV
      - name: Release
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          gzip: false
          name: Grafikon
          files: >
            ${{ env.file_zip }}
            ${{ env.file_deb }}
            ${{ env.file_linux_zip }}
            ${{ env.file_msi }}
            ${{ env.file_win_zip }}
            ${{ env.file_mac_image_zip }}
